<div *ngIf="categoryNotChosen">
  <select [(ngModel)]="category">
    <option value="ქართული">ქართული</option>
    <option value="მათემატიკა">მათემატიკა</option>
  </select>
  <button (click)="categoryChosen()">არჩევა</button>
</div>
<div *ngIf="!categoryNotChosen">
  <app-question *ngFor="let question of questionsToAsk" [question]="question" [currentQuestionIndex]="currentQuestionIndex" [questionIndex]="questionsToAsk.indexOf(question)" (nextClicked)="onNextClicked($event)"></app-question>
  <div *ngIf="currentQuestionIndex === questionsToAsk.length">
    you got {{points}} points
  </div>
</div>
